.home .home-navbar {
  right: 50px;
  left: 50px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.home .home-navbar .home-navbar-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 43px;
  color: #2A4645;
}
.home .home-navbar .home-navbar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 550px;
}
.home .home-navbar .home-navbar-tabs .home-navbar-tab {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.home .home-navbar .home-navbar-signin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  right: 0;
  font-weight: 800;
  align-items: center;
}
.home .home-navbar .home-navbar-signin .home-navbar-login {
  margin-right: 20px;
}
.home .home-navbar .home-navbar-signin .home-navbar-signin {
  background: #D96F03;
  border-radius: 6px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.374px;
  color: #FFFFFF;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}
.overview {
  height: 400px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.overview .overview-left {
  width: 40%;
}
.overview .overview-left .overview-left-header {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #000000;
  text-align: left;
  line-height: -30px;
}
.overview .overview-left .overview-left-subHeader {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-align: left;
  margin-top: 30px;
}
.overview .overview-left .overview-left-content {
  margin-top: 30px;
  width: 100%;
  text-align: left;
}
.overview .overview-left .overview-left-content .overview-left-content-signUp {
  width: 180px;
  height: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: #D96F03;
  border-radius: 6px;
  border: none;
}
.overview .overview-right {
  width: 50%;
}
.aboutUs {
  margin-left: 58px;
  margin-right: 58px;
  padding-top: 150px;
}
.aboutUs .aboutUs-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
  background-color: #F7F7F7;
  padding-top: 40px;
}
.aboutUs .aboutUs-content {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #F7F7F7;
  overflow-x: scroll;
}
.aboutUs .aboutUs-content .aboutUs-content-img {
  margin-left: 40px;
  margin-right: 40px;
  pointer-events: none;
}
.whatWeDo {
  margin-left: 58px;
  margin-right: 58px;
  padding-top: 150px;
}
.whatWeDo .whatWeDo-sectionName {
  color: #2B4F4A;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
}
.whatWeDo .whatWeDo-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.whatWeDo .whatWeDo-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}
.whatWeDo .whatWeDo-content .whatWeDo-content-item {
  text-align: left;
  width: 300px;
  margin-top: 40px;
}
.whatWeDo .whatWeDo-content .whatWeDo-content-item .whatWeDo-content-item-img {
  width: 60px;
  height: 60px;
}
.whatWeDo .whatWeDo-content .whatWeDo-content-item .whatWeDo-content-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
  color: #000000;
  margin-top: 15px;
}
.whatWeDo .whatWeDo-content .whatWeDo-content-item .whatWeDo-content-item-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  margin-top: 15px;
}
.howItWorks {
  margin-left: 70px;
  margin-right: 70px;
  padding-top: 150px;
  margin-bottom: 200px;
}
.howItWorks .howItWorks-sectionName {
  color: #2B4F4A;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
}
.howItWorks .howItWorks-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}
.howItWorks .howItWorks-content {
  margin-top: 40px;
}
.howItWorks .howItWorks-content .howItWorks-content-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-text {
  display: flex;
  flex-direction: row;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-left .howItWorks-content-item-left-num {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #2B4F4A;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-left .howItWorks-content-item-left-line {
  width: 3px;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #2B4F4A;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-mid {
  text-align: left;
  margin-left: 40px;
  width: 300px;
  padding-top: 8px;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-mid .howItWorks-content-item-mid-title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-mid .howItWorks-content-item-mid-content {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.howItWorks .howItWorks-content .howItWorks-content-item .howItWorks-content-item-img {
  width: 300px;
  height: 200px;
  align-self: center;
}
