.studentHome {
  margin-left: 58px;
  margin-right: 58px;
}
.studentHome .studentHome-navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.studentHome .studentHome-navbar .studentHome-navbar-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  color: #000000;
}
.studentHome .studentHome-navbar .studentHome-navbar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  margin-right: 58px;
}
.studentHome .studentHome-navbar .studentHome-navbar-tabs .home-navbar-tab {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-decoration: none;
}
.studentHome .studentHome-navbar .studentHome-navbar-tabs .studentHome-navbar-profile {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #000000;
  box-sizing: border-box;
}
.studentHome .studentHome-content {
  padding-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.studentHome .studentHome-content .studentHome-search-left {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 74px;
  color: #000000;
  text-align: left;
}
.studentHome .studentHome-content .studentHome-search-left .studentHome-search-box {
  width: 300px;
  height: 40px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  padding-left: 10px;
  font-weight: 400;
  font-size: 12px;
}
.studentHome .studentHome-content .studentHome-search-left .studentHome-search-button {
  background-color: #FF7124;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 41px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  margin-left: -10px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.studentHome .studentHome-content .studentHome-search-right {
  width: 50%;
}
