.splitScreen-horizontal {
    display: flex;
    flex-direction: row;
}

.splitScreen-vertical {
    display: flex;
    flex-direction: column;
}

.leftPane-jobs {
    width: 25%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.leftBox {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.leftBox-selected {
    background-color: #F0F5F5;
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.leftSide-jobs {
    width: 80%;
}

.rightSide {
    width: 20%;
}

.middlePane-jobs {
    background-color: white;
    color: black;
    width: 75%;
    height: 100vh;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;

    border: 1px solid lightgray;
    border-top-color: 'lightgray';
    border-top-width: 1px;
    border-bottom-width: 0px;
}

.button-jobs {
    background-color: #D96F03;
    color: white;
    border: none;
    font-size: 13px;
    padding: 20px 50px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 18px;
    margin-bottom: 20px;
}

.leftText-jobs {
    padding-top: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 25px;
    margin-left: 40px;
    margin-right: 20px;
}

.leftText-jobs h6 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 0px;
    margin-top: 0px;
}

.leftText-jobs h2 {
    margin-top: 40px;
    font-size: 31px;
}

.rightText-jobs {
    margin-top: 0px;
    padding-top: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 100%;
}

.clownfish-text {
    height: 20px;
}

.clownfish-img {
    margin-left: 10px;
    height: 20px;
}

.login {
    text-align: center;
}

ul {
    margin-top: 30px;
    line-height: 0px;
}

.box {
    margin: 5px;
    height: 650px;
    width: 85%;
    border: 1px solid lightgray;
}

.text-jobs {
    padding: 20px;
}

.text-jobs h3 {
    margin-top: 5px;
    font-style: bold;
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 10px;
}

.text-jobs h6 {
    margin-top: 5px;
    line-height: 25px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
}

.heart {
    height: 25px;
    padding: 30px;
}

.company {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.leftCompanyLogo img {
    height: 80px;
    margin-top: 5px;
}

.rightCompanyText-jobs {
    margin-left: 20px;
    margin-top: 0px;
    text-align: left;
    height: 50px;
}

.rightCompanyText-jobs h3 {
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 28px;
}

.rightCompanyText-jobs h6 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.title-jobs {
    font-size: 33px;
    line-height: 100%;
}

.leftSide-jobs h3 {
    margin-left: 10px;
    font-size: 22px;
}

.leftSide-jobs h5 {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 200;
}

.inputBar {
    display: flex;
    background: rgba(196, 196, 196, 0.25);
    border-radius: 7px;
    align-items: center;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    height: 20px;
}

.inputBar .searchPic {
    width: 15px;
    height: 15px;
}

.inputBar .input {
    margin-left: 5px;
    width: 250px;
    outline: none;
    border: none;
    background: none;
    font-family: Mulish;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.modal-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.modal-close {
    width: 15px;
    height: 15px;
    position: fixed;
    right: 20px;
}

.modal-content {
    padding-top: -15px;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
    align-items: center;
}

.modal-line {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.modal-item {
    margin-top: 8px;
    border: 0.9px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    width: 350px;
}

.modal-text {
    padding-top: 15px;
}

.modal-text-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2B4F4A;
    padding-left: 10px;
    text-align: left;
}

.modal-text-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 25px;
}