.splitScreen-horizontal {
    display: flex;
    flex-direction: row;
}

.splitScreen-vertical {
    display: flex;
    flex-direction: column;
}

.leftPane {
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.leftBox {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
}

.leftSide {
    width: 80%;
}

.rightSide {
    width: 20%;
}

.middlePane-jobs {
    background-color: white;
    color: black;
    width: 70%;
    height: 100vh;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;

    border: 1px solid lightgray;
    border-top-color: 'lightgray';
    border-top-width: 1px;
    border-bottom-width: 0px;
}

.button {
    background-color: #D96F03;
    color:white;;
    border: none;
    font-size: 15px;
    padding: 10px 60px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.leftText {
    padding-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 100%;
    margin-left: 40px;
    margin-right: 20px;
}

.rightText {
    margin-top: 0px;
    padding-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 100%;
}

.clownfish-text {
    height: 20px;
}

.clownfish-img {
    margin-left: 10px;
    height: 20px;
}

.login {
    text-align: center;
}

ul {
    margin-top: 30px;
    line-height: 0px;
}

.box {
    margin: 10px;
    height: 500px;
    width: 90%;
    border: 1px solid lightgray;
}

.text-jobs {
    padding: 20px;
}

.text-jobs h3 {
    font-style: bold;
    line-height: 0px;
}

.text-jobs h6 {
    line-height: 20px;
}

.heart {
    height: 25px;
    padding: 30px;
}

.company {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.leftCompanyLogo img {
    height: 80px;
    margin-top: 0px;
}

.rightCompanyText-jobs {
    margin-left: 20px;
    margin-top: 15px;
    text-align: left;
    height: 50px;
}

.rightCompanyText-jobs h3 {
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.rightCompanyText-jobs h6 {
    margin-top: 15px;
}

.title-jobs {
    font-size: 30px;
    line-height: 100%;
}