.topnav {
    background-color: white;
    overflow: hidden
}

/* Style the links inside the navigation bar */
.clownfish-logo {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 25px;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Add a color to the active/current link */
.topnav a.active {
  text-decoration: underline;
  text-decoration-color: #D96F03;
  text-decoration-thickness: 0.3em;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.img-messaging {
    height: 25px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.img-pfp {
    height: 40px;
    margin-right: 20px;
    padding-top: 15px;
}

.img-arrow {
    height: 10px;
    margin-right: 30px;
    margin-bottom: 18px;
}